<div class="detail-container">
  <div class="detail-info">
    <h2>Celebrity details</h2>
    <h3>{{name}}</h3>
    <h3>{{occupation}}</h3>
    <h3>{{catchPhrase}}</h3>
  </div>
  <a href="/celebrities/{{_id}}/edit">Editar Celebrity</a>
  <form action="/celebrities/{{_id}}/delete" method="POST">
  <button type="submit">Eliminar Celebrity</button>
</form>
</div>
